* {
	font-family: Avenir, sans-serif;
	color: #fff;
}
body {
	margin:0; padding:0;
}

h2 {
	text-align: center;
	font-size: 30px;
}

h3 {
	text-align: center;
	margin-bottom: 5px;
}

p {
	padding-left: 30px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 15px;
}

.canvas {
	display: block;
	margin: auto;
}

/*svg-wide style*/
.axis path,
.axis line {
	fill: none;
	stroke: #888;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 10px;
	fill: #fff;
}

.axis.label {
	font-size: 10px;
	fill: #fff;
}

.y.axis line {
  stroke: #bbb;
  opacity: 0.7;
}

.y.axis path {
  stroke-width: 0;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

div.title {
	position: relative;
  width: 60%;
  margin: 0 auto;
	height: 80px;
	line-height: 30px;
	padding: 2px;
	font-size: 26px;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	border: 1px;
	border-radius: 5px;
	pointer-events: none;
}

.window {
	position: absolute;
	bottom: 20px;
	margin: 0 auto;
	height: 160px;
	background: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	border-radius: 5px;
}

#speed_chart_window {
	width: 300px;
	right: 0;
}

#fleet_info_window {
	width: 320px;
	left: 0;
}

#route_selection {
	position: absolute;
	bottom: 180px;
	left: 0;
}

.bus {
	fill: red;
	fill-opacity: 0.5;
	stroke: yellow;
	stroke-width: 10px;
	stroke-opacity: 0.3;
}

.bus.selected {
	stroke: #fff;
}

.route {
	stroke: yellow;
	fill: none;
	opacity: 0.2;
}

.speed-line {
	stroke: yellow;
	fill: none;
}

/*revised after http://codepen.io/ericrasch/pen/zjDBx*/
/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.yellow  { background-color: #eec111; }

/* -------------------- Colors: Text */
.yellow select  { color: #000; }

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
		padding-left: 15px;
}